.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
}

.box {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.mole {
  background-image: url("./krtek.png");
  height: 200px;
  width: 200px;
}
h1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
  }
}

.score,
.timer {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100%;
  max-width: 200px;
  position: absolute;

  left: 50%;
}
